{% extends '@Frontend/frontend_layout.html.twig' %}

{%- block stylesheets -%}
{{ parent() }}
{%- endblock -%}

{%- block body -%}
    <header>
        {%- include 'FrontendBundle:Partial:header.html.twig' -%}
    </header>

    <div class="main">
        {%- block main -%}
            <div class="container">
                <div class="col-sm-6 col-md-offset-3" style="margin-top:100px">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label  for=""  class="control-label col-md-4">First name</label>
                        {{ form_widget(form.firstname, {'attr':{'class':"form-control"}}) }}
                        {{ form_errors(form.firstname, {'attr':{'class':"form-control"}}) }}
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-md-4">Last name</label>
                        {{ form_widget(form.lastname, {'attr':{'class':"form-control"}}) }}
                        {{ form_errors(form.lastname, {'attr':{'class':"form-control"}}) }}
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-md-4">Email</label>
                        {{ form_widget(form.email, {'attr':{'class':"form-control"}}) }}
                        {{ form_errors(form.email, {'attr':{'class':"form-control"}}) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="submit">
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        {%- endblock -%}
    </div>

    <footer class="footer navbar-fixed-bottom">
        {%- include 'FrontendBundle:Partial:footer.html.twig' -%}
    </footer>
{%- endblock body -%}

{% block javascripts %}
{{ parent() }}
{% endblock %}

