<!-- Event Share -->
<div class="modal share-modal-show" style="padding-top: 150px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="" style="vertical-align: middle">
            <div class="modal-body">

                <span type="button" data-dismiss="modal" class="pull-right visible-xs visible-sm" style="color:white; cursor: pointer;">
                    &#10006;
                </span>
                <div class="share-buttons text-center">
                    <a id="fb-event" target="_blank"><img src="{{ asset('Resources/public/img/share-button/facebook.png') }}" width="60"></a>
                    <a id="twit-event" target="_blank"><img src="{{ asset('Resources/public/img/share-button/twitter.png') }}" width="60"></a>
                    <a id="sms-event" target="_blank"><img src="{{ asset('Resources/public/img/share-button/sms.png') }}" width="60"></a>
                    <a id="email-event" target="_blank"><img src="{{ asset('Resources/public/img/share-button/email.png') }}" width="60"></a>
                    <a id="reddit-event" target="_blank"><img src="{{ asset('Resources/public/img/share-button/reddit.png') }}" width="60"></a>
                    <span class="pull-right hidden-xs hidden-sm" style="cursor: pointer; position: absolute; float: right; color:white" data-dismiss="modal">&#10006;</span>
                </div>
            </div>
        </div>
    </div>
</div>